# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
divmod(200, 60)

(3, 20)

**Objectives:**

List popular languages for Data Science

+ Python
+ R
+ SQL
+ Scala
+ Julia

## Author

Hoang Anh Mai